body{
    background-color: black;
}
.nav_items{
    background-color: tomato;
    padding: 10px;
    font-weight: bold;
    border-radius: 25px;
}

.nav-link{
    color: white;
}

.nav{
    border-radius: 35px;
}